@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
margin: 0;
padding: 0;
top: 0;
font-family: 'Roboto', sans-serif;
}

.container {
    margin: 10px 40px;
}

.container:hover {
    cursor: crosshair;
}

.container .bayan-body {
    margin: 0 auto;
    height: 0;
    padding: 0 30px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(1, 54, 4, 0.2);
}
.container .bayan-body img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container label {
    cursor: crosshair;
    background-color: #068a5e;
    display: block;
    margin-bottom: 5px;
    padding: 15px 20px;
    transition-duration: 0.65s;
    color: #BFE2FF;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

.container label:hover {
    background-color: #ffffff;
    color: #068a5e;
    transition-duration: 0.65s;
}

.container input{
    display: none;
}

.container label:before {
    content: "☺";
    float: right;
}

.container input:checked + label {
    background-color: #068a5e;
    color: #ffffff;
    transition-duration: 0.65s;
}

.container input:checked + label:before {
    content: "☆";
    transform: rotate(180deg);
    transition-duration: 0.65s;
}
.container input:checked + label + .bayan-body {
    height: auto;
}

@media all and (max-width: 820px) {


}

@media all and (max-width: 320px) {


}